.projarea{
    margin-left: 20%;
    background: url("/images/projcut.jpg");
    background-size: cover;
    height: 700px;
    width: 80%;
    /* opacity: 50%; */
    background-color: rgb(191, 249, 184);
    height: 100vh;
}

.projtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 4rem; */
}

.projhead{
    margin-top: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: xx-large;
    font-style: italic;
}

.projsub{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    font-size: medium;
}

.projtype{
    margin-top: 4rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}


.ongoingprojectCard{
    background-color: rgba(155, 152, 152, 0.5);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 40%;
    height: 300px;
    /* width: calc(33.33% - 4rem); */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}
