
.first-container{
    background-color: rgb(229, 244, 227);
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.img1{
    /* margin-top: 2rem;
    margin-left: 2rem; */

    background-image: url("/images/freelancer.jpg");
    box-shadow: 10px 0 10px rgb(70, 67, 67);
    background-size: cover;
    background-position: center;
    /* height: 80vh;
    width: 45%; */
    height: 80vh;
    width: 45%;
}

.text{
    margin: auto;
    color: rgb(80,200,120);
}

.typing-text{
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 4px solid white; */
    animation: typing 3s steps(20, end);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* @keyframes blink-caret {
    50% { border-color: transparent; }
} */

/* @keyframes stop-cursor {
    to { border-color: transparent; } /* Hides the cursor */

.second-container{
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.img2{
    /* margin-top: 2rem;
    margin-left: 2rem; */

    background-image: url("/images/freedom.jpg");
    box-shadow: 10px 10px 10px rgb(70, 67, 67);
    background-size: cover;
    background-position: center;
    /* height: 80vh;
    width: 45%; */
    height: 60vh;
    width: 45%;
}

.third-container{
    background-color: rgb(229, 244, 227);
    display: flex;
    align-items: center;
    height: 40vh;
    width: 100%;
    /* margin-top: -3vh; */
}

.img3{
    /* margin-top: 2rem;
    margin-left: 2rem; */
    margin-top: -14vh;
    background-image: url("/images/hire.jpg");
    box-shadow: 10px 10px 10px rgb(70, 67, 67);
    background-size: cover;
    background-position: center;
    /* height: 80vh;
    width: 45%; */
    height: 50vh;
    width: 45%;
}