.whole-content{
    width: 83.3%;
    margin-left: 20%;
    background-color: #F6FAFE;
}

.top-profile{
    background-image: url("/images/profileback.jpg");
    background-size: cover;
    /* background-color: rgb(191, 249, 184); */
    height: 350px;
    width: 100%;
    /* margin-left: 20%; */
    display: flex;
}

.profile-photo{
    display: flex;
    background-image: url("/images/profileempty.png");
    background-size: cover;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    width: 150px;
    margin-top: -6%;
}

.profile-photo:hover{
    cursor: pointer;
    /* background: rgba(94, 94, 94, 0.482); */
    scale: 105%;
}

.inputform{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    gap: 6rem;
}

.update{
    width: 12rem;
    height: 1.8rem;
    border-radius: 3px;
    padding: 1px 0 1px 6px;
}

.inputformintro{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.updatebtn{
    display: flex;
    font-size: large;
    margin: auto;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: grey;
    color: white;
}

.updatebtn:hover{
    cursor: pointer;
    scale: 105%;
}